<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>ZimaZupla</title>
  </head>
  <body>
    <h1>Welcome to shitty game</h1>

    <div class="dashboard">
      <div id="start">Start Game</div>
      <div id="end">End Game</div>
    </div>

    <div class="board"></div>

    <div class="frog-box">
      <div class="follower-box"></div>
    </div>
    <script src="script.js" type="module"></script>
  </body>
</html>
